body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8dc63f;
    cursor: url(../img/cursor.png), auto;
}

.wrapper {
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p,
.contacts a {
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
}

.logo p, 
.contacts p {
    margin: 0;
}

.logo b {
    font-size: 44px;
    display: block;
    color: #39930d;
}

.logo i,
.contacts i {
    font-size: 14px;
    color: #5a5a5a;
}

.logo img {
    transition: 0.60s;
    margin: 0 35px;
}

.logo img:hover {
    padding-left: 300px
}

.contacts a {
    display: block;
    margin-bottom: 8px;
    cursor: url(../img/cursor.png), auto;
}

.contacts i {
    display: block;
    text-align: right;
    cursor: url(../img/cursor.png), auto;
}

.main-picture {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 30px;
}

.main h1 {
    font-size: 24px;
    color: #39930d;
}

.menu {
    width: 300px;
}

.main p {
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

.main-text {
    max-width: 600px;
}

.menu p {
    padding: 9px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #39930d;
}

.menu ul {
    list-style: none;
    padding-left: 20px;
}

.menu li {
    margin-bottom: 15px;
}

.main a {
    transition: 0.25s;
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
    cursor: url(../img/cursor-ball.png), auto;
}

.menu a {
    font-size: 14px;
    line-height: 14px;
    color: #39930d;
    text-transform: uppercase;
    transition: all .55s ease;
}

.menu a:hover {
    padding: 5px;
    color: #fff;
    font-style: italic;
    background-color: #39930d;
    text-decoration: none;
}

.footer {
    margin: 0 -15px;
    padding: 15px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #39930d;
}
